version: "3"

services:
  checkout:
    build:
      context: ../../zeebe/java/checkout
      dockerfile: Dockerfile
    networks:
      - flowing
    ports:
      - "8090:8090"

  order:
    build:
      context: ../../zeebe/java/order-fulfillment
      dockerfile: Dockerfile
    networks:
      - flowing
    ports:
      - "8092:8092"

  payment:
    build:
      context: ../../zeebe/java/payment
      dockerfile: Dockerfile
    networks:
      - flowing
    ports:
      - "8093:8093"

  inventory:
    build:
      context: ../../zeebe/java/inventory
      dockerfile: Dockerfile
    networks:
      - flowing

  shipping:
    build:
      context: ../../zeebe/java/shipping
      dockerfile: Dockerfile
    networks:
      - flowing

  zeebe:
    image: camunda/zeebe:latest
    hostname: zeebe
    environment:
      - ZEEBE_BROKER_EXPORTERS_ELASTICSEARCH_CLASSNAME=io.camunda.zeebe.exporter.ElasticsearchExporter
      - ZEEBE_BROKER_EXPORTERS_ELASTICSEARCH_ARGS_URL=http://elasticsearch:9200
      - ZEEBE_BROKER_EXPORTERS_ELASTICSEARCH_ARGS_BULK_SIZE=1
      - ZEEBE_BROKER_DATA_DISKUSAGECOMMANDWATERMARK=0.998
      - ZEEBE_BROKER_DATA_DISKUSAGEREPLICATIONWATERMARK=0.999
    networks:
      - flowing
    ports:
      - "26500:26500"
      - "9600:9600"
    volumes:
      - zeebe_data:/usr/local/zeebe/data
    depends_on:
      - elasticsearch

  operate:
    image: camunda/operate:latest
    container_name: operate
    environment:
      - CAMUNDA_OPERATE_ZEEBE_GATEWAYADDRESS=zeebe:26500
      - CAMUNDA_OPERATE_ELASTICSEARCH_URL=http://elasticsearch:9200
      - CAMUNDA_OPERATE_ZEEBEELASTICSEARCH_URL=http://elasticsearch:9200
    ports:
      - "8080:8080"
    networks:
      - flowing
    depends_on:
      - zeebe
      - elasticsearch

  tasklist:
     image: camunda/tasklist:latest
     container_name: tasklist
     environment:
       - CAMUNDA_TASKLIST_ZEEBE_GATEWAYADDRESS=zeebe:26500
       - CAMUNDA_TASKLIST_ELASTICSEARCH_URL=http://elasticsearch:9200
       - CAMUNDA_TASKLIST_ZEEBEELASTICSEARCH_URL=http://elasticsearch:9200
     ports:
       - "8081:8080"
     networks:
       - flowing
     depends_on:
       - elasticsearch

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    container_name: elasticsearch
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node
      - cluster.name=elasticsearch
      - bootstrap.memory_lock=true
      - cluster.routing.allocation.disk.threshold_enabled=false
      - xpack.security.enabled= false
      - xpack.security.enrollment.enabled= false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - zeebe_elasticsearch_data:/usr/share/elasticsearch/data
    networks:
      - flowing

volumes:
  zeebe_data:
  zeebe_elasticsearch_data:

networks:
  flowing:
    driver: bridge